<!DOCTYPE html>
<html lang="ja">
 
<head>
  <meta charset="UTF-8">
  <title>Fabric.jsのサンプル <%= title %></title>
  <style>#cvs {border: 1px solid gray;}</style>
</head>
 
<body>
  <h1>Fabric.jsのサンプル</h1>
  <canvas id="cvs" width="400" height="240"></canvas>
  <input type="button" value="枠追加" onclick="btnClkNewRect()">
  <br>
  <textarea id="info">information</textarea>
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
  <script>
    var canvas = new fabric.Canvas('cvs');

    window.onload = function(){
      // 画像を画面幅いっぱいに表示
      const url = "https://president.ismcdn.jp/mwimgs/1/4/-/img_149103aac5cd1cce8775af6d59c20c63320198.jpg";      
      fabric.Image.fromURL(url, e => {
        e.scaleToWidth(canvas.width);
        canvas.setBackgroundImage(e, () => {
          canvas.setDimensions({width: canvas.width, height: e.height*e.scaleY})
          canvas.renderAll.bind(canvas);
        });
      });
    }

    // 枠追加
    function btnClkNewRect(){
      let rect = new fabric.Rect({
        left: 80, top: 80, width: 120, height: 80,
        fill: 'rgba(0, 0, 0, 0)',
        stroke: 'rgba(0, 0, 0, 1)',
        strokeWidth: 4
      });
      canvas.add(rect);
    }

    canvas.on('mouse:up', function(options){
      // 枠情報一覧を表示
      let objs = canvas.getObjects();
      document.getElementById("info").value = "";
      for(i = 0; i<objs.length; i++){
        let rect = canvas.item(i);
        document.getElementById("info").value = 
          document.getElementById("info").value
          + Math.round(rect.top) + " " + Math.round(rect.left) + " " 
          + Math.round(rect.width*rect.scaleX) + " " + Math.round(rect.height*rect.scaleY) + "\n";
      }

    });
  </script>
</body>
</html>
