<!DOCTYPE html>
<html lang="ja">
 
<head>
  <meta charset="UTF-8">
  <title>Fabric.jsのサンプル <%= title %></title>
  <style>#cvs {border: 1px solid gray;}</style>
</head>
 
<body>
  <h1>Fabric.jsのサンプル</h1>
  <input type="file" id="file" /><br />
  <canvas id="cvs" width="400" height="240"></canvas>
  <input type="button" value="枠追加" onclick="btnClkNewRect()">
  <br>
  <textarea id="info">information</textarea>
  <div id="pics"></div>
  <!-- <canvas id="out" width="200" height="200"></canvas> -->
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
  <script>
    const url = "https://president.ismcdn.jp/mwimgs/1/4/-/img_149103aac5cd1cce8775af6d59c20c63320198.jpg";      
    var canvas = new fabric.Canvas('cvs');
    var img = new fabric.Image(url, {left:0, top:0});

    document.getElementById('file').addEventListener("change", function (e){
      var file = e.target.files[0];
      var reader = new FileReader();
      reader.onload = function (f){
        var data = f.target.result;
        fabric.Image.fromURL(data, function (img){
          img.scaleX = canvas.width / img.width;
          img.scaleY = img.scaleX;
          canvas.scaleY = img.height * img.scaleY / canvas.height;
          var oImg = img.set({left: 0, top: 0, angle: 0, width: img.width, height: img.height}).scale(img.scaleY);

          canvas.setBackgroundImage(oImg, () => {
            canvas.setDimensions({width: canvas.width, height: canvas.height*canvas.scaleY})
            canvas.renderAll.bind(canvas);
          });
        });
      };
      reader.readAsDataURL(file);
    });

    // 枠追加
    function btnClkNewRect(){
      let rect = new fabric.Rect({
        left: 80, top: 80, width: 120, height: 80,
        fill: 'rgba(0, 0, 0, 0)',
        stroke: 'rgba(0, 0, 0, 1)',
        strokeWidth: 4
      });
      canvas.add(rect);
    }

    canvas.on('mouse:up', function(options){
      // 枠画像を取得
      if(options.target){
        var cropped = img.toDataURL({
          left: options.target.left,
          top: options.target.top,
          width: options.target.width,
          height: options.target.height,
          fill: 'rgba(0, 0, 0, 1)'
        });
        var imgtag = "<img src=" + cropped + ">";
        document.getElementById("pics").innerHTML = imgtag;
      }

      // 枠情報一覧を表示
      let objs = canvas.getObjects();
      document.getElementById("info").value = "";
      for(i = 0; i<objs.length; i++){
        let rect = canvas.item(i);
        document.getElementById("info").value = 
          document.getElementById("info").value
          + Math.round(rect.top) + " " + Math.round(rect.left) + " " 
          + Math.round(rect.width*rect.scaleX) + " " + Math.round(rect.height*rect.scaleY) + "\n";
      }

    });
  </script>
</body>
</html>
