<!DOCTYPE html>
<html lang="ja">
 
<head>
  <meta charset="UTF-8">
  <title>Fabric.jsのサンプル</title>
  <style>#cvs {border: 1px solid gray;}</style>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
 
<body>
  <!--タブ-->
  <ul class="tab-group">
    <li class="tab tab-A is-active">推論</li>
    <li class="tab tab-B">登録</li>
  </ul>

  <!--タブを切り替えて表示するコンテンツ-->
  <div class="panel-group">
    <div class="panel tab-A is-show">
      <input type="file" id="file_inference" /><br />
      <canvas id="cvs_inference" width="400" height="240"></canvas>
      <input type="button" value="推論" onclick="btnClkInference()">
    </div>
 
    <div class="panel tab-B">
      <input type="file" id="file" /><br />
      <canvas id="cvs" width="400" height="240"></canvas>
      <input type="button" value="枠追加" onclick="btnClkNewRect()">
      <br>
      <textarea id="info">information</textarea>
      <div id="detail_crop">
        <img id="img_crop"/>
        <input type="text" id="class_name" oninput="txtInput()">
        <input type="button" value="枠削除" onclick="btnClkDeleteRect()">
      </div>        
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
  <script src="/javascripts/image-draw.js"></script>
</body>
</html>
